.wrap{width:100%;margin-top: 50px;}
.flex{display: flex;}
.title{margin: 0 auto 20px;margin-left:0;}
.title h2{font-size:2.5rem;}
.wrap>.flex .right{position: relative;z-index:1;}
.wrap>.flex .right p{position:relative;right:10px;bottom:-10px;padding:50px 30px;line-height:2rem;color:#fff;z-index:2;}
.wrap>.flex .right p.bg{position:absolute;right:25px;bottom:0;background-color:rgba(17, 43, 39, 0.8);padding:0;z-index:1;}
.wrap>.flex{margin-bottom: 50px;}
.wrap .mobile{display: none;max-width:1080px;width:100%;margin:0 auto;}
.wrap .mobile .img,.wrap .mobile .description{width:70%;margin:0 auto;}
.wrap .mobile .img img{object-fit: contain;width: 100%;}
.wrap .mobile .description{background-color: #112B27;padding: 5px 40px 10px;box-sizing: border-box;margin-top: -5px;}
.wrap .mobile .description p{color: #fff;margin-bottom: 20px;}
.wrap .row{max-width: 1080px;width:100%; margin:0 auto;background-color:#C2A8784C;padding:50px 70px 90px;box-sizing: border-box;position: relative;}
.wrap .row .flex{width: 90%;margin:0 auto;background-color:#fff;}
.wrap .row .flex .right,.wrap .row .flex .left{width:50%;}
.wrap .row .flex>div{display: flex;justify-content: center;align-items: center;}
.wrap .row .flex img{height:100%;width:100%;object-fit:cover;}
.wrap .row .flex p{line-height:2rem;padding:0 30px;box-sizing:border-box;}
.wrap .row .flex>div.position{display:block;position: relative;}
.wrap .row .flex>div.position p{width: 100%;position:absolute;bottom:0;background-color: rgba(255, 255, 255, 0.57);line-height:1.5rem;padding:8px;}
.wrap .row:before{content:'';width: 250px;height: 200px;
background: url(../img/introduction/leftBG.svg) no-repeat 0 91px;
background-size: contain;position: absolute;left:0;bottom:0;}
.wrap .row:after{content:'';width: 200px;height: 200px;
background: url(../img/introduction/rightBG.svg) no-repeat 0 91px;
background-size: contain;position: absolute;right:0;bottom:0;}

@media(max-width:1100px){
    .wrap>.flex .right p{right: 20px;}
}
@media(max-width:1060px){
    .wrap>.flex{display: none;}
    .wrap .mobile{display: block;}
    .wrap .mobile .description p{font-weight: 200;}
    .flex{flex-direction:column-reverse;}
    .flex:nth-child(2){flex-direction: column;}
    .wrap .row{padding:0;background-color: #fff;padding-bottom: 20px;}
    .wrap .row .flex{width:70%;}
    .wrap .row .flex .right, .wrap .row .flex .left{width:100%;}
    .wrap .row .flex>div.position p{background-color:#E0D3BB;color:#355834;padding: 5px 40px 10px;}
    .wrap .row .flex p{padding:40px;}
    .wrap .row .flex:last-child p{padding:40px 40px 110px;}
}
@media(max-width:980px){
    .wrap .mobile .img,.wrap .mobile .description,
    .wrap .row .flex{width:80%;}
}
@media(max-width:900px){
    .wrap .mobile .img,.wrap .mobile .description,
    .wrap .row .flex{width:90%;}
}
@media(max-width:800px){
    .wrap .mobile .img,.wrap .mobile .description,
    .wrap .row .flex{width:100%;}
}
@media(max-width:555px){
    .wrap .mobile .description,.wrap .row .flex>div.position p{padding: 5px 30px 10px;}
    .wrap .row .flex p{padding:30px;}
    .wrap .row .flex:last-child p{padding:40px 30px 110px;}
}
@media(max-width:375px){
    .wrap .mobile .description,.wrap .row .flex>div.position p{padding: 5px 20px 10px;}
    .wrap .row .flex p{padding:20px;}
    .wrap .row .flex:last-child p{padding:40px 20px 110px;}
}
