*{margin:0;padding:0;color: #444; }
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;900&display=swap');
body,input,a,li,p,span,h2,h3{font-family:'Noto Sans TC', sans-serif;font-size:1rem;font-weight: 500;}
:focus{outline:2px dotted #3971ef;padding:2px;box-sizing: border-box;}
a{text-decoration:none;color:#555;}
ul{list-style-type:none;}
noscript{display: block; width: 100%; color: red;font-size:1.1rem;text-align: center;}
a.barrierFree{color: transparent;display: block;width: 0;height: 0;}
/*header*/
header.header{width:100%;position:fixed;top:0;z-index:2;background-color:#fff;}
.top{max-width:1080px;width:90%;margin:0 auto;height:110px;overflow:visible;position:relative;
    display:flex;justify-content: space-between;align-items: center;}
.top #menu{background: url(../img/menu.png) no-repeat center;width:42px;height:110px;color:transparent;position: absolute;right:6px;bottom: 0;z-index:1;background-size: contain;cursor:pointer;}
.top>a{width:20%;}
.top>a .logo{background: url(../img/logo.png) center no-repeat;background-size:contain;width:100%;height:110px;position:relative;top:-1px;left:6px;}
/*Mnav*/
.top #Mnav{position: fixed;right: -450px;top: 0;width:450px;height: 100vh;
background-color:rgba(17, 43, 39, 0.98);overflow-y: scroll;padding: 30px 0;box-sizing: border-box;z-index: 4;}
.top #Mnav .MheaderWP{width:100%;}
.top #Mnav .MnavHeader{max-width:1080px;width:90%;margin:0 auto;display:flex;justify-content:space-between;align-items: center;height:130px;}
.top #Mnav .MnavHeader img{height:70px;object-fit: contain;}
.top #Mnav ul,.top #Mnav ul li{width:100%;margin:0 auto;line-height:70px;flex-direction:column;}
.top #Mnav ul li a{display:block;max-width:1080px;width:90%;margin:0 auto;padding-right:100px;
box-sizing: border-box;line-height:3rem;transition:all 0s;font-size:1.4rem;color:#fff;text-align: right;}
.top #Mnav ul li a.accesskey{display:inline-block;height:0px;margin-left:5px;color:transparent ;}
.top #Mnav ul li:hover{background-color: rgba(247, 247, 247, 0.3);}
.top #Mnav .Mnav2{display: none;height:570px; position: absolute;top:0;left: 0;background-color: #000;}
.top #Mnav .Mnav2 li{padding-left:0;}
.top #Mnav .Mnav2 li a{display:inline-block;width:100%;padding-left:10px;}
.top #Mnav .Mnav2 li a:hover{background-color: #f7f7f7;border-bottom:0;color:#444;font-weight:600;}
/*title*/
.title{margin: 90px auto 70px;}
.title h2,.title h3{color:#355834;font-weight:900;font-size:2.9rem;text-align: center;letter-spacing:17px;margin-left: 17px;}
.title h3{font-size:1.6rem;letter-spacing:2px;}
/*main*/
#main{max-width:1080px;width:100%;margin:0 auto;margin-top:110px;}
#main .banner{width:100%;height:94px;display:flex;justify-content: center;align-items: center;
background: #3e5738; /* Old browsers */
background: -moz-linear-gradient(left, #3e5738 0%, #2e4431 50%, #182a27 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #3e5738 0%,#2e4431 50%,#182a27 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #3e5738 0%,#2e4431 50%,#182a27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5738', endColorstr='#182a27',GradientType=1 );}
#main .banner img{height:59px;}
/*breadcrumbs*/
#breadcrumbs{width:100%;margin:0 auto;margin-bottom:10px;height:50px;background-color:#f2f5f2;
display:flex;align-items: center;justify-content: flex-start;padding-left: 20px;box-sizing: border-box;}
#breadcrumbs span{padding: 0 3px;color:#355834;}
#breadcrumbs span:nth-of-type(1){display:inline-block;width: 0;}
#main a.accesskey{display:inline-block;width:0px;margin-left:5px;color:transparent ;}
#breadcrumbs span:hover a,#breadcrumbs .current:hover{border-bottom:1px solid #355834;}
/*footer*/
footer{width:100%;height:auto;padding:30px 0 50px;position:relative;box-sizing: content-box;
background: #3e5738; /* Old browsers */
background: -moz-linear-gradient(left, #3e5738 0%, #2e4431 50%, #182a27 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #3e5738 0%,#2e4431 50%,#182a27 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #3e5738 0%,#2e4431 50%,#182a27 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e5738', endColorstr='#182a27',GradientType=1 );}

footer .footer{max-width:1080px;width:90%;margin:0 auto;color:#fff;font-weight: 200;line-height:1.2rem;}
footer .footer .row{display: flex;justify-content: space-between;align-items: center;}
footer .footer .row img{height:43px;}
footer .footer .row img:last-child{height: 66px;}
footer .footer p{margin: 5px auto;color:#fff;text-align: left;font-weight: 200;}
footer .footer>p{text-align:center;margin: 20px auto 5px;}
/*預約*/
footer .display{width: 500px;height: 100vh;position: fixed;right:-500px;top: 0;z-index:3;}
footer .display .close,header .close{display:block;opacity:1;cursor:pointer;text-align: center;width: 100px;
position: absolute;right: 0;}

footer .display .close .big,header .close .big{font-size:4rem;font-weight:200;color:#fff;line-height:3.5rem;}
header .close .big{display:block;font-size:2.7rem;line-height:2rem;}
footer .display .close .small,header .close .small{font-size:1rem;color:#fff;}
header .close .small{display:block;font-size:0.8rem;font-weight: 200;}
footer .reservation{display:block;position:absolute;right:500px;top:300px;width:53px;height:200px;background-color:#E0D3BB;color:#122C28;
display:flex;flex-direction: column;justify-content: center;align-items:center;border-top-left-radius:20px;border-bottom-left-radius:20px;
cursor: pointer;border-right:1px solid #fff;padding:15px 0;}
footer .reservation img{width:31px;display: block;margin: 0 auto;}
footer .reservation span{color:#355834;font-size:1.5rem;font-weight:700;writing-mode:vertical-lr;writing-mode:tb-lr;
display: block;width:30px;margin-top: 15px;}
footer .visit{
/*    position:fixed;right:-500px;*/
    position: absolute;right:0;
    top:0;width: 500px;height:100vh;background-color:#C3A877;overflow-y: scroll;
padding:30px 0;box-sizing: border-box;}
footer .visit .time .top{position: relative;height:45px;display: block;}
footer .visit .time .top #time{display: block;width:100%;height:45px;line-height: 45px;position:absolute;left:0;top:0;z-index:1;cursor: pointer;}
footer .visit .time .top input{background-color: transparent;margin-top: 0;width: 100%;position:absolute;left:0;top:0;z-index:-1;}
button,
footer .visit .time,
footer .visit .memo>p{display:block;width:80%;margin:0 auto 18px;height:45px;background-color:#fff;box-sizing: border-box;
    padding-left:0;position:relative;}
footer .visit .time p{height:45px;line-height:45px;padding-left:25px;margin-bottom: 0;cursor:pointer;}
footer .visit .time .content{display: none;border-top:1px solid #444;position: absolute;
left: -38%;z-index:1;width:138%;margin:0;border-top: 1px solid #444;}
footer .visit .time p{display:flex;flex-wrap:wrap;background-color:#fff;position: relative;margin-bottom: 0;height: auto;}
footer .visit .time p a{display:block;width:20%;margin:10px 2.5% 5px;background-color:#fff;border-radius:20px;text-align:center;padding:5px 0;cursor:pointer;}
footer .visit .time p a:hover,footer .visit .time p a:focus{background-color:#EEE5D8;}
footer .visit .title{color:#fff;font-size:3rem;text-align: center;margin: 90px auto 30px;}
footer .visit .flex{display: flex;width:80%;margin:0 auto 18px;height:45px;background-color:#fff;}
footer .visit .flex label{display: block; width:30%;color:#444;padding-left:20px;box-sizing: border-box;height:45px;line-height:45px;}
footer .visit input{display: block;width:70%;color:#333;height:45px;border:none;}
footer .visit #datepicker:focus,footer .visit .time .top #time:focus {outline:none;color: transparent;text-shadow: 0 0 0 #444;}
footer .visit .memo{margin-bottom:25px;}
footer .visit .memo>p{margin-bottom:5px;height:45px;line-height:45px;padding-left:20px;color:#444;box-sizing: border-box;}
footer .visit .memo ul{margin-top:-18px;background-color:#E1D4BC;
display:block;width:80%;margin:0 auto 18px;}
footer .visit .memo ul li{padding:10px 0 20px 5px;}
footer .visit .memo ul li p{line-height: 2rem;margin-bottom: 5px;}
button{text-align: center;padding-left:0;font-size: 1.3rem;border: 0;}
/*calendar*/
.ui-widget-header{background-color:#355834;color:#fff;}
.ui-datepicker .ui-datepicker-title span{color:#fff;}
.ui-state-default, .ui-widget-content .ui-state-default{border:1px solid #C2A8784C;background-color:#fff;}
ui-state-highlight, .ui-widget-content .ui-state-highlight{border:1px solid #EEE5D8;background:#112B27;color:#fff;}
.ui-datepicker-next.ui-corner-all .ui-icon.ui-icon-circle-triangle-e{background: url('../img/icon/right-arrow.png') no-repeat center;background-size: contain;}
.ui-datepicker-prev.ui-corner-all .ui-icon.ui-icon-circle-triangle-w{background: url('../img/icon/left-arrow.png') no-repeat center;background-size: contain;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover{border:none;background-color:#355834;color:#fff;}

@media(max-width:1200px){
    .top>a .logo{width:120%;}
}
@media(max-width:1000px){
    .top>a .logo{width:130%;}
}
@media(max-width:900px){
   footer .footer .row{flex-direction: column;}
    footer .footer p{line-height: 1.5rem;}
    footer .footer .row>div{padding:20px 0;}
    footer .footer .row>div p{text-align: center;}
    footer .reservation{top:205px}

}
@media(max-width:800px){
    footer .reservation{background-color: rgba(224, 211, 187, 0.59); }
}
@media(max-width:655px){
    .top>a .logo{width:150%;}
}
@media(max-width:555px){
    .top>a .logo{width:160%;}
}
@media(max-width:500px){
    .top>a .logo{width:185%;}
    #main .banner img{height:50px;}
    footer .visit{width:100%;}
     footer .visit .flex label{width: 40%;}
    footer .visit input{width: 60%;}
    footer .visit .time{width: 67%;}
    footer .visit .time .content{left: -60%;width: 160%;}
}
@media(max-width:475px){
    .top>a .logo{width:200%;}
    footer .visit .flex,footer .visit .memo ul,footer .visit .memo>p{width:90%;}
}
@media(max-width:414px){
    .top>a .logo{width:230%;}
    .title h2{font-size:2.5rem;}
    .title h3{font-size:1.4rem;}
}
@media(max-width:375px){
    .top>a .logo{width:260%;}
    #main .banner img{height:45px;}
}
@media(max-width:350px){
    .top>a .logo{width:290%;}
     #main .banner img{height:40px;}
}
